@keyframes marker-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vh);
    }

    100% {
        transform: translateY(0);
    }
}

.map-marker{
    width: clamp(50px,6vmax,200px);
    position: absolute;
    height: auto;
    animation: marker-bounce 2s ease-in-out 0s infinite;
}

.full-width{
    width: 100vw;
    height: 66.66vw;
}

.full-height{
    width: 150vh;
    height: 100vh;
}

.text-box{
    position: fixed;
    width: 25vw;
    height: auto;
    background-color: #cfd4e8;
    border-right: 0.2vw solid #565861;
    border-bottom: 0.2vw solid #565861;
    border-left: 0.2vw solid #f5f7ff;
    border-top: 0.2vw solid #f5f7ff;
    z-index: 2;
    display: none;
    text-align: center;
    padding: 2vw;
}

.text-box-title{
    /*1 - 3*/
    font-size: clamp(1rem, 1.8vmax, 3rem);
}

.text-box-body{
    /*0.7 - 2*/
    font-size: clamp(0.7rem, 1.2vmax, 2rem);
}