@keyframes marker-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vh);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes marker-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vh);
    }

    100% {
        transform: translateY(0);
    }
}

#world-map {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    object-fit: cover;
    pointer-events: none;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

#map-content {
    width: 2000px;
    height: 1200px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

#map-sub-container {
    margin: 0 auto;
    width: 2000px;
    height: 1200px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

.map-marker {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 0 auto;
    animation: marker-bounce 2s ease-in-out 0s infinite;
    -webkit-animation: marker-bounce 2s ease-in-out 0s infinite;
}

.map-marker img {
    width: 100%;
    pointer-events: none;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.map-text-box {
    background-color: #cfd4e8;
    border-right: 0.4vw solid #565861;
    border-bottom: 0.4vw solid #565861;
    border-left: 0.4vw solid #f5f7ff;
    border-top: 0.4vw solid #f5f7ff;
    position: absolute;
    z-index: 3;
    font-size: 1.1vw;
    width: 38vw;
}

.map-text-header {
    font-size: 1.5vw;
}

@media screen and (max-width: 900px) {
    .map-marker {
        width: 60px;
        height: 60px;
    }

    #map-content {
        width: 1200px;
        height: 900px;
    }

    #map-sub-container {
        width: 1200px;
        height: 900px;
        left: 50%;
        top: 32%;
        transform: translate(-50%, -32%);
    }

    .map-text-box {
        font-size: 1.5vw;
        width: 35vw;
    }

    .map-text-header {
        font-size: 2vw;
    }

    #marker-mtl {
        top: 27.75%;
        left: 49.5%;
    }

    #marker-phl {
        top: 51.5%;
        left: 48%;
    }

}

@media screen and (min-width: 1700px),
screen and (min-height: 790px) {

    .map-marker {
        width: 120px;
        height: 120px;
    }

    #map-content {
        width: 2500px;
        height: 2000px;
    }

    #map-sub-container {
        width: 2500px;
        height: 2000px;
        left: 50%;
        top: 32%;
        transform: translate(-50%, -32%);
    }

    .map-text-box {
        font-size: 1vw;
        width: 35vw;
    }

    .map-text-header {
        font-size: 1.5vw;
    }

}

@media screen and (max-aspect-ratio: 1/1) {
    .map-marker {
        width: 80px;
        height: 80px;
    }

    #marker-mtl {
        top: 29%;
        left: 49.5%;
    }

    #marker-phl {
        top: 54%;
        left: 49.5%;
    }
}