@font-face {
  font-family: "Windows 95";
  src: url(./fonts/w-95-sans-serif.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BP Squares';
  src: url('./fonts/bpdots.squares-bold-webfont.woff2') format('woff2'),
    url('./fonts/bpdots.squares-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1.5vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

/* ------- DEFAULT ------- */
body {
  font-family: 'Windows 95';
  margin: 0 auto;
  padding: 0 auto;
}

.underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1em;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd4e8;
  border-right: 3px solid #565861;
  border-bottom: 3px solid #565861;
  border-left: 3px solid #f5f7ff;
  border-top: 3px solid #f5f7ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.invisible {
  opacity: 0;
}